
html, body {
  font-size: 16px;
  font-family: 'Open Sans';
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
}

h1 {
  margin: 0;
  top: 100px;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  color: #d8d8d8;
  letter-spacing: -9.5px;
}

button {
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  background: linear-gradient(to right, #ffa500, #ffae19);
  border: 2px solid #ff6700;
  border-radius: 2px;
  outline: none;
  padding: 1rem 4rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
